.btn-link {
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}

#deparment-add {
    margin-top: 3%;
}

ul {
    list-style-type: none;
}

.icon-small {
    height: 18px;
    margin: 0;
    padding: 0;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin: 0 !important;
}

#lang-picker-submit {
    visibility: hidden;
}

#deparment-add, #deparment-rename {
    margin-top: 3%;
}

#logout {
    width: 100px;
    height: 33px;
    background: inherit;
    border: none;
    color: #9d9d9d;
    font-size: 14px;
}
#logout:hover {
    color: #ffffff;
}

#success-Msg{
    text-align: center;
    color: green;
    margin-bottom: 4px;
}

#fail-Msg, #complaints-msg {
    text-align: center;
    color: red;
    margin-bottom: 4px
}
.changeDepartmentForm{
    margin-right: 5px;
}
#changeDepartmentsWrapper,
#chooseDoctorWrapper{
    display: inline-flex;
}
#add-btn {
    text-align-all: center;
    width: 500px;
    font-size: 18px;
}
#login-btn {
    text-align-all: center;
    width: 300px;
    font-size: 18px;
}
#loginForm {
    margin-top: 4%;
}
#rename-dep-hdr {
    text-align: center;
    margin-top: 25px;
}
#complaints {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
    width: 94%;
}
#complaints-label{
    margin-left: 3%;
    font-size: 21px;
}
#patient-msg {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}
#empty-department {
    margin-top: 15%;
    text-align: center;
    color: red;
    font-size: 50px;
}